
module newrelic 1.2;

require {
	type httpd_sys_script_t;
	type sysctl_net_t;
	type var_log_t;
	type tmp_t;
	type initrc_tmp_t;
	type initrc_t;
	class sock_file write;
	class unix_stream_socket connectto;
	class file { read write open };
	class dir { read search };
}

#============= httpd_sys_script_t ==============
allow httpd_sys_script_t initrc_t:unix_stream_socket connectto;

allow httpd_sys_script_t initrc_tmp_t:file open;

allow httpd_sys_script_t tmp_t:sock_file write;

allow httpd_sys_script_t sysctl_net_t:dir { read search };
allow httpd_sys_script_t sysctl_net_t:file { read };
allow httpd_sys_script_t var_log_t:file open;
